<h1>Ristorante Il Gambero Rosso</h1>
<div class="row">
  <p class="col-4"><img src="./assets/images/dough.jpg" width="100%" alt="" srcset=""></p>
  <p class="col-8"><strong> We give our dough 72 hours to rest and bake it in a traditional ofen</strong>, but try
    yourself at home and see the difference we want to help you: <br>
    It's easy to get carried away thinking about toppings and so on, but more than anything else, when you're eating
    pizza, it's the crust you're tasting. And not just tasting. Biting into. Chewing. The crust of a pizza is literally
    its foundation, but it is also its essence. <br>
    For all its complexity, pizza dough is built on a remarkably simple formula. Classic Neapolitan pizza is made with
    only flour, water, salt, and yeast. And while different flours have different properties depending on whether
    they're made from winter wheat, summer wheat, and other variables, it's the yeast that gives the dough its
    flavor—primarily through the process of fermentation that takes place while the dough is undergoing its rise. <br>
    Of course, every recipe is different. And if you're following a recipe, it's a good idea to actually follow the
    recipe. That means when a recipe says to let the dough rest for a certain amount of time, give it the full time,
    even though it might seem like nothing is happening. The reality is that everything—from the elasticity of the dough
    to its crunch, its chewiness, and particularly, how yeasty it tastes—is being determined during this resting time.
    <br>
    So before we get to our actual five tips, here's a bonus one: If a pizza dough recipe says to let the dough rest 8
    to 24 hours (or overnight), plan to use the high end of whatever that range is. <br><br>
    ...to be continued with "Know Your Flours"
  </p>
</div>
<div class="bg-light">
  <h1>Why choose us</h1>
  <h5>we are a family owned company and we can take our time to serve the best pizza you can thing of</h5>
  <div class="about row row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
    <p><strong>Opened since 1986. Centrally located.</strong> Professional and friendly staff welcome you. Our Roman
      manned kitchen
      offers you farm to fork steaks, fresh pasta, traditional and modern Italian dishes. Unique in Austrian Pinsa
      Romana( 72 hours fermentation pizza dough), fresh seasonal truffle own import (Umbria)over 300 Italian wines, cold
      beers , loads more! Booking recommended. A presto"</p>
    <p><strong>Summer truffle is in full swing.</strong> Ripe and at the top of the range. You ll find loads in our menu
      : on Galway bay
      prawns , on hand dived scallops , on our fettuccine. Always matched with 350 wines and Italian staff. Make sure
      you book as we ar… more</p>
    <p><strong>Great range of wine here dears, loads of choices for under 40€!</strong> Amarone range from 58€
      , Barolo range from 69€, Brunello from 65€... Celebrating with great food, great wine and Italian service is never
      been closer to you. Book is… Mehr</p>
  </div>
</div>