<h1>Your Order</h1>

<div class="d-flex align-items-center" *ngFor="let item of cart, ; index as dishID">
  <div class="flex-shrink-0">
    <img src="{{item.image}}" style="width: 150px;" alt="{{item.name}}">
  </div>
  <div class="flex-grow-1 ms-3">
    <button (click)="reduceQuantity(dishID)" class="btn btn-danger btn-sm  m-2">-</button>
    <span class="card-text"> {{item.count}} </span>
    <button (click)="addQuantity(dishID)" class="btn btn-success btn-sm m-2">+</button>

    <h5 class="card-title">{{item.name}}</h5>
    <p class="card-text">{{ item.description.substring(0,45)}} ...more<br></p>
    <p class="card-text">Price: {{item.price | currency: '€ '}}</p>
    <br>
    <hr>
  </div>
</div>
<div *ngIf="price">
  <h5>summary</h5>
  <table class="table-striped">
    <thead></thead>
    <tr>
      <td>Your total price:</td>
      <td>{{price | currency: '€ '}}</td>
    </tr>
    <tr *ngIf="price > 40">
      <td>discount 15% :</td>
      <td *ngIf="price>40">{{(price*.15) | currency: '€ '}}</td>
    </tr>
    <tr>
      <td>Service 10% :</td>
      <td *ngIf="price>40">{{(price - (price*.15))*.1 | currency: '€ '}}</td>
      <td *ngIf="price<=40">{{(price*0.1) | currency: '€ '}}</td>
    </tr>
    <tr>
      <td><strong>Total Amount<br>(incl VAT)</strong></td>
      <td *ngIf="price > 40">{{(price - (price*.15))*1.1 | currency: '€ '}}</td>
      <td *ngIf="price <= 40">{{(price * 1.1) | currency: '€ '}}</td>
    </tr>
  </table>
  <button (click)="clearCart()" class="btn btn-danger">Clear Cart</button>
</div>





<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3" *ngIf="price">
  <div class="container" id="cont">
    <h1> Order Form</h1>
    <h5>please fill up info for the delivery</h5>
    <form>
      <div class="row inputs">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 input">
          <label for="name">Name</label>
          <input id="name" type="text" formControlName="name">
        </div>

        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 input">
          <label for="adress">Adress</label>
          <input id="adress" type="text" formControlName="adress">
        </div>

        <div id="submit">
          <input type="Submit" class="btn btn-outline-dark " value="submit">
        </div>
      </div>
    </form>
  </div>
</div>